version: "3.8"

services:
  redis:
    image: redis:alpine

  script:
    build:
      context: .
      dockerfile: Dockerfile.compose-example
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"